{% extends "base_patient.html" %}

{% block title %}Departments{% endblock %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">Departments</h2>

    <div class="row">
        {% for department in departments %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">

                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">{{ department.department_name }}</h5>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        {{ department.description }}
                    </p>
                    <a href="{{ url_for('patient_appointment')}}" class="btn btn-outline-primary btn-sm mt-2">
                        Fix appointment
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
